@model Agenda_mvc__ADO.NET_MySQL_ASP.NET_CORE_6._0.Models.Agendamiento

@{
    ViewData["Title"] = "AgendamientoDelete";
}

<h1>AgendamientoDelete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Agendamiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAgendamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAgendamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAgenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAgenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCancelacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCancelacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdReserva)
        </dd>
    </dl>
    
    <form asp-action="AgendamientoDelete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
